h1 {
  display: none;
}
@media screen and (max-width: 576px) {
  .Mobile {
    display: block;
  }
  body {
    background-color: lightblue;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .Tablet {
    display: block;
  }
  body {
    background-color: green;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .Laptop {
    display: block;
  }
  body {
    background-color: blue;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .Desktop {
    display: block;
  }
  body {
    background-color: goldenrod;
  }
}

@media screen and (min-width: 1200px) and (max-width: 100000px) {
  .Huge {
    display: block;
  }
  body {
    background-color: chartreuse;
  }
}
